/.nyc_output
/coverage
/lib
/node_modules
/tests/fixtures/**/*.json
/tests/fixtures/**/*.svelte
/tests/fixtures/**/*.js
/tests/fixtures/**/*.ts
/explorer/dist
/explorer/node_modules
/explorer-v2/build
/explorer-v2/build
/explorer-v2/build-system/shim/svelte-eslint-parser.*
/explorer-v2/build-system/shim/eslint-scope.*
/explorer-v2/build-system/shim/eslint.*
/explorer-v2/build-system/shim/svelte/*
!/.vscode
!/.github
