/.nyc_output
/coverage
/lib
/node_modules
/tests/fixtures/**/*.json
/explorer/dist
/explorer/node_modules
/explorer-v2/build
/explorer-v2/build
/explorer-v2/build-system/shim/svelte-eslint-parser.*
/explorer-v2/build-system/shim/eslint-scope.*
/explorer-v2/build-system/shim/eslint-plugin-svelte3.*
/explorer-v2/build-system/shim/lodash.*
