name: Publish to pkg.pr.new
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags: ["!**"]

jobs:
  build:
    if: github.repository == 'sveltejs/svelte-eslint-parser'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      - name: Install Packages
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run build
      - run: pnpx pkg-pr-new publish --compact --json output.json --comment=off
      - name: Add metadata to output
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const output = JSON.parse(fs.readFileSync('output.json', 'utf8'));
            output.number = context.issue.number;
            output.event_name = context.eventName;
            output.ref = context.ref;
            output.sha = context.eventName === 'pull_request'
              ? context.payload.pull_request.head.sha
              : context.payload.after;
            fs.writeFileSync('output.json', JSON.stringify(output), 'utf8');
      - name: Upload output
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: output
          path: ./output.json

      - run: ls -R .
