name: Update pkg.pr.new comment

on:
  workflow_run:
    workflows: [Publish to pkg.pr.new]
    types:
      - completed

permissions:
  issues: write
  pull-requests: write

jobs:
  build:
    if: github.repository == 'sveltejs/svelte-eslint-parser'
    name: Update comment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: output
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
      - run: ls -R .
      - name: Post or update comment
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const fs = require('fs');
            const output = JSON.parse(fs.readFileSync('output.json', 'utf8'));
            const { default: process } = await import('${{ github.workspace }}/tools/pkg.pr.new-comment.mjs')

            await process({github, context, core, output})
